// widths need to be sass variables for breakpoints to work
$xs: 320px;
$small: 480px;
$medium: 782px; // 782
$large: 1224px; // 1,224
$xl: 1432px; // 1,432
$xxl: 1640px; // 1640

// BS - specifics
$bs-small: 768px;
$bs-medium: 992px;
$bs-large: 1200px;

/// Mixin - xs Breakpoint
/// Allows easier @include xs {} syntax
@mixin xs {
  @include breakpoint($xs) {
    @content;
  }
}

/// Mixin - small Breakpoint
/// Allows easier @include small {} syntax
@mixin small {
  @include breakpoint($small) {
    @content;
  }
}

/// Mixin - medium Breakpoint
/// Allows easier @include medium {} syntax
@mixin medium {
  @include breakpoint($medium) {
    @content;
  }
}

/// Mixin - large Breakpoint
/// Allows easier @include large {} syntax
@mixin large {
  @include breakpoint($large) {
    @content;
  }
}

/// Mixin - xl Breakpoint
/// Allows easier @include xl {} syntax
@mixin xl {
  @include breakpoint($xl) {
    @content;
  }
}

/// Mixin -
@mixin xxl {
  @include breakpoint($xxl) {
    @content;
  }
}

/// Mixin - max-width Breakpoint
/// Allows easier @include max-width {} syntax
// @mixin max-width {
//   @include breakpoint($max-width) {
//     @content;
//   }
// }

/// Mixin - large Breakpoint

/// Allows easier @include large {} syntax

@mixin bs-small {
  @include breakpoint($bs-small) {
    @content;
  }
}

@mixin bs-medium {
  @include breakpoint($bs-medium) {
    @content;
  }
}

@mixin bs-large {
  @include breakpoint($bs-large) {
    @content;
  }
}
