{# {{vardumper()}} #}

<h2 class="participant__nameid">
	{{content.group_name_id.field_displa}}
	-
	<span class="id">
		{{content.group_name_id.field_response_id}}
	</span>
</h2>

{{content.group_contact_info}}
