article[data-quickedit-entity-id^="user"] {
  .name-id,
  .dashboard__participant {
    display: none;
  }
  .dashboard__title {
    grid-column: 1 /3;
    text-align: left;
    padding-left: 1rem;
    justify-content: flex-start;
  }
  .dashboard__timepoints {
    margin-top: 2rem;
  }
}
//dashboard
.dashboard {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 86px auto auto;
  margin-bottom: 2rem !important;
  background: linear-gradient(
    180deg,
    var(--lighter-gray) 85px,
    var(--light-gray) 86px
  ) !important;
  &__participant,
  &__timepoints {
    margin: 0 1rem;
  }
  &__title {
    grid-column: 3 / -1;
    grid-row: 1;
    align-self: center;
    padding-right: 1rem;
    text-align: right;
    font-family: var(--font-headings);
    font-size: 1.5rem;
    font-weight: var(--semi);
    color: var(--maroon);
    display: flex;
    justify-content: flex-end;
    a {
      color: var(--maroon);
      // margin-right: 1rem;
      &.edit {
        font-weight: var(--light);
        font-size: 1rem;
        color: var(--link);
        background: var(--ht-white);
        border-radius: var(--border-radius);
        font-family: var(--font-text);
        padding: 0.25rem 0.5rem;
        margin-left: 1rem;
      }
    }
  }

  &__participant {
    grid-column: 1 / -1;
    grid-row: 1 / 3;
    .field--name-field-displa,
    .field--name-field-response-id {
      display: inline-block;
    }
    h2 {
      margin: 1rem 0.5rem;
      margin-bottom: 2rem;
      .id {
        font-weight: var(--light);
        color: var(--olive);
      }
    }
  }
  &__timepoints {
    grid-column: 1 / -1;
    grid-row: 3;
  }
  p:last-child,
  .form-group:last-child,
  .panel:last-child {
    margin-bottom: 2rem;
  }
}

//panels overides

.panel-default > .panel-heading {
  background: var(--lighter-gray);
  .panel-title {
    font-family: var(--font-headings);
    text-transform: uppercase;
    color: var(--ht-blue);
    font-weight: var(--semi);
  }
}

// panel-dashboard
// .panel-dashboard {

// }

// timpoints panel overrides
.timepoints {
  .panel-body {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 1rem;
    > div {
      flex: 0 1 100%;
      margin-bottom: 1rem;
      @include bs-small() {
        flex: 0 1 calc(50% - 1rem);
        display: flex;
        flex-direction: column;
      }
      // @include bs-large() {
      //   flex: 0 1 23%;
      // }
    }
    > div {
      field-label {
        color: red;
      }
    }
    &:before {
      display: none;
    }
  }
  div[class*="field--name-field-timepoint"] {
    border: 1px solid var(--tan);
    padding: 0.5rem;
    border-radius: var(--border-radius);
    > .field--label {
      padding: 1rem;
      font-size: var(--main-font-size);
    }
    .panel {
      border: none;
    }
  }
  .field--name-field-start-date,
  .field--name-field-survey-completed,
  .field--name-field-measures-completed,
  .field--name-field-asa-24-complete {
    display: flex;
    flex-direction: column;
    flex: 0 0 100% !important;
    // background: red;
  }
}
