// special lists

// lanugage links
.links--language {
  display: flex;
  justify-content: flex-end;
  list-style-type: none;
  margin: 2rem 4rem 0 0;
  li {
    margin-left: 1.5rem;
  }
  a {
    position: relative;
    &::before {
      position: absolute;
      content: "";
      width: 10px;
      height: 10px;
      border-radius: 5px;
      background: var(--light-gray);
      top: calc(50% - 4px);
      left: -16px;
    }
  }
  a.is-active {
    color: var(--link-hover);
    &::before {
      background: var(--ht-green);
    }
  }
}
