// Fonts
@mixin baseFont(
  $size: var(--base-font-size),
  $color: var(--black),
  $weight: var(--regular),
  $line-height: var(--line-height),
  $family: var(--font-text)
) {
  font-family: $family;
  font-size: $size;
  color: $color;
  font-weight: $weight;
  line-height: $line-height;
}